/*Gimmicky stuff will be placed here*/

#logo-wrapper {
    width: 50%;
    height: 15vh;
    max-height: 400px;
    margin-bottom: 20vh;

}
.space-logo {
    top: 25px;
    left: 250px;
}

.logo {
    width: 45%;
    z-index: 1;
    -webkit-filter: drop-shadow(0px 0px 50px rgba(238, 131, 34, 1));
}

.logo-ring {
    width: 45%;
    z-index: 1;
}

img.logo {
    position: absolute;
}

img.logo-ring {
    position: absolute;
}

#m1 {
    position: absolute;
    animation: m1-move 10s infinite;
    z-index: 10;
    animation-direction: initial;
}

@keyframes m1-move {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateX(200px);
        transform: translate3d(-1000px, 500px, 0px);
    }
}
