/*Gimmicky stuff will be placed here*/

#logo-wrapper {
    width: 50%;
    height: 18vw;
    max-height: 400px;

}
.space-logo {
    top: 25px;
    left: 250px;
}

.logo {
    width: 45%;
    z-index: 1;
    /*-webkit-animation:spin 4s linear infinite;*/
    /*-moz-animation:spin 4s linear infinite;*/
    /*animation:spin 15s linear infinite;*/
-webkit-filter: drop-shadow(0px 0px 50px rgba(238, 131, 34, 1));
}

.logo-ring {
    width: 45%;
    z-index: 1;
}

img.logo {
    position: absolute;
}

img.logo-ring {
    position: absolute;
}
/*@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }*/
/*@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }*/
/*@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }*/
