/*Gimmicky stuff will be placed here*/

#logo-wrapper {
    width: 50%;
    height: 15vh;
    max-height: 400px;
    margin-bottom: 20vh;

}
.space-logo {
    top: 25px;
    left: 250px;
}

.logo {
    width: 45%;
    z-index: 1;
    -webkit-filter: drop-shadow(0px 0px 50px rgba(238, 131, 34, 1));
}

.logo-ring {
    width: 45%;
    z-index: 1;
}

img.logo {
    position: absolute;
}

img.logo-ring {
    position: absolute;
}


#space {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../../images/banner-wallpaper.png");
}
